/* Outer container for the header */
.header_outer_container {
    position: sticky; 
    top: 0;          
    display: flex;   
    justify-content: center; 
    align-items: center;    
    background-color: transparent;
    height: 10vh;          
    color: white;          
    transition: all 0.5s ease-in; 
    z-index: 1;  
     background-color:Black;         
  }
  
  /* Black navigation background */
  .nav_black {
    background-color: rgb(20, 20, 20); 
  }
  
  /* Main header container */
  .header_container {
    width: 90%;             
    display: flex;         
    justify-content: space-between; 
    align-items: center;   
  }
  
  /* Left section of the header */
  .header_left ul {
    width: 140%;          
    display: flex;         
    justify-content: space-between; 
    align-items: center;   
    list-style: none;      
    cursor: pointer;      
  }
  
  /* Right section of the header */
  .header_right ul {
    width: 150%;           
    display: flex;         
    justify-content: space-around; 
    align-items: center;   
    list-style: none;     
    cursor: pointer;       
  
  }
 /* Responsive Design */
/* @media (max-width: 768px) {
  .header_container ul{
    display: none;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 1rem;
  }
   */
  /* Hide all but the first link on small screens */
@media (max-width: 768px) {
  .header_left ul li:nth-child(n+2) {
    display: none; /* Hide links on small screens */
  }
}
  /* .header_container ul li:first-child {
  display: block; /* Show only the first li */


 

